:host {
    display: block;
    border-bottom: 1px solid #cccaca;
    font-family: Arial, sans-serif;
    font-size: 12px;
    position: relative;
    z-index: 100;

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after {
        clear: both;
    }


    .govbar-logo {
        border: 0;
        display: block;
        padding: 3px 8px;
        vertical-align: middle;
    }

    .govbar-logo img {
        border: 0;
        display: block;
        height: 40px;
    }

    .govbar-links {
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .govbar-link {
        border: 0;
        border-top: 1px solid #ddd;
        display: block;
        font-weight: bold;
        padding: 8px;
        text-decoration: none;
    }

    .govbar-more {
        font-weight: normal;
    }

    @media only screen and (min-width: 45em) {
        .govbar-logo {
            float: left;
        }

        .govbar-links {
            display: block;
            float: right;
            line-height: 30px;
        }

        .govbar-links li {
            float: left;
            margin: 0;
        }

        .govbar-link {
            border-top: 0;
            float: left;
            min-height: 30px;
        }
    }
}

:host(.govbar--light) {
    background: #fff;

    .govbar-link {
        color: #222 !important;
    }

    .govbar-link:hover,
    .govbar-link:focus {
        background: #e6e6e6;
    }
}

:host(.govbar--dark) {
    background: #333;

    .govbar-link {
        color: #ddd !important;
    }

    .govbar-link:hover,
    .govbar-link:focus {
        background: #666;
    }
}

:host(.ie7) {
    display: inline-block;
}

:host(.ie_lt9) {
    .govbar-logo {
        float: left;
    }
    .govbar-links {
        display: block;
        float: right;
        line-height: 30px;
    }

    .govbar-links li {
        float: left;
        margin: 0;
    }

    .govbar-link {
        border-top: 0;
        float: left;
        min-height: 30px;
    }
}